{% extends 'base.html' %}
{% load static %}
{% block side_navbar %}
{% endblock side_navbar %}

{% block chart_title %}
    <style>
        a {
            text-decoration: none !important;
            color: #28282f;
        }
    </style>
    <div class="album py-5 bg-white">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <a href="{% url 'dashboard:bar_chart' %}">
                        <div class="card my-2" style="width: 13rem;">
                            <img class="card-img-top" src="{% static "/images/icon/speedometer.gif" %}"
                                 alt="Card image cap">

                            <div class="card-body">
                                <h5 class="card-title">نمودارهای عملکردی</h5>
                                {#                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <div class="card my-2" style="width: 13rem;">
                            <img class="card-img-top" src="{% static "/images/icon/fraud.gif" %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">موارد مشکوک نیازمند بررسی</h5>
                                {#                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'dashboard:managerial_reports' %}">
                        <div class="card my-2" style="width: 13rem;">
                            <img class="card-img-top" src="{% static "/images/icon/magnifying-glass.gif" %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">مغایرت‌های سیستمی</h5>
                                {#                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'dashboard:sunburst_chart' %}">
                        <div class="card my-2" style="width: 13rem;">
                            <img class="card-img-top" src="{% static "/images/icon/bar-chart.gif" %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">گزارش‌های مدیریتی</h5>
                                {#                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <div class="card my-2" style="width: 13rem;">
                            <img class="card-img-top" src="{% static "/images/icon/work-in-progress.gif" %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">پیشرفت پروژه‌ها</h5>
                                {#                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'admin:index' %}">
                        <div class="card my-2" style="width: 13rem;">
                            <img class="card-img-top" src="{% static "/images/icon/user.gif" %}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">مدیریت کاربران</h5>
                                {#                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock chart_title %}
{% block html_table %}
{% endblock html_table %}